@media screen and (max-width: 460px) {
  .discover-cardview-parent {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
  }
}

@media screen and (min-width: 460px) {
  .discover-cardview-parent {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .blank {
    top: 20%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    animation-name: fadeIn;
    animation-duration: 1.5s;
    animation-iteration-count: once;
  }

  .blank-content {
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    justify-content: start;
    background-color: white;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.1);
  }

  .dog-icon {
    scale: 4;
    align-self: center;
    padding: 30px;
  }

  .blank-title {
    font-size: 3.5em;
    font-weight: bold;
  }

  .blank-subtitle {
    font-size: 1.5em;
    font-weight: normal;
    width: 400px;
  }

  .card-stack {
    top: 20%;
    width: 100%;
    height: 80vh;
    /* margin-top: 0%; */
    overflow: none;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    gap: -20px;
    /* justify-self: center; */
  }

  .profile-card:nth-last-child(1) {
    /* margin-top: 2%; */
    margin-top: 0px;
    transform: translate(-50%,0);
  }

  .profile-card:nth-last-child(2) {
    margin-top: 55px;
    scale: .9;
    transform: translate(-55%,0);
    opacity: 1;
    /* left: 48%; */
  }

  .profile-card:nth-last-child(3) {
    margin-top: 135px;
    scale: .7;
    transform: translate(-72%,0);
    opacity: .4;
    /* left: 44%; */
  }

  .profile-card {
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: 10px;
    align-self: center;
    /* transform: translate(-50%,0); */
    /* border: solid blue; */
    left: 50%;
    top: 15%;
    /* transform: translate(0,-50%); */
  }

  .card-wrapper {
    position: relative;
    /* border: solid green; */
  }

  .buttons {
    display: flex;
    flex-flow: rownowrap;
    /* justify-content: space-between;  */
    width: 70%;
    /* transform: translate(0,-500%); */
    /* align-self: center; */
    /* position: relative; */
    align-items: center;
    position: absolute;
    justify-content: space-between;
  }

  @keyframes back-mount {
    0% {
    }
    100% {
      transform: translate(-55%, 0);
      scale: .9;
      margin-top: 55px;
      opacity: 1;
    }
  }

  .back-mount {
    animation-name: back-mount;
    animation-duration: .5s;
    animation-iteration-count: once;
  }

  @keyframes mount {
    0% {
    }
    100% {
      transform: translate(-50%, 0);
      scale: 1;
      margin-top: 0px;
    }
  }

  .mount {
    animation-name: mount;
    animation-duration: .5s;
    animation-iteration-count: once;
  }

  @keyframes goOut {
    0% {
      opacity: 1;
      /* transform: rotate(10deg); */
      transform-origin: center;
      /* transform: rotate(0); */
    }
    100% {
      opacity: 0;
      transform: rotate(10deg);
      transform-origin: center;
    }
  }

  .unmount {
    animation-name: goOut;
    animation-duration: .5s;
    animation-iteration-count: once;
    z-index: 2;
  }


  @keyframes pass {
    0% {
      opacity: 1;
      /* transform: rotate(10deg); */
      /* transform: rotate(0); */

    }
    100% {
      opacity: 0;
      /* transform: translate(-50%, 0); */
      transform: rotate(-10deg);
      transform: translate(-70%, 0);
      transform-origin: center;
    }
  }

  .pass-unmount {
    animation-name: pass;
    animation-duration: .5s;
    animation-iteration-count: once;
    z-index: 2;
  }

}